
<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="/static/huddleapp/indexstyle.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous"> -->
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> huddle </a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                              role="button"
                                              aria-haspopup="true"
                                              aria-expanded="false"> Class List
                                              <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">AP Physics</a></li>
            <li><a href="#">English</a></li>
            <li><a href="#">Physical Education</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="main">
      <nav class="scrollnav">
        <div class="input-menu">
          <button type="button" class="btn btn-default btn-custom" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus"aria-hidden="true"></span> Add Post
          </button>
          <div class="hide-add"> 
            <input type="text" placeholder=" Title" class="comment-input-wide top-padding-plus bottom-spaced">
           <textarea placeholder="Post Body" class="post-body bottom-spaced"></textarea>
            <button type="button" class="btn btn-default btn-custom" aria-label="Left Align">
              <span class="glyphicon glyphicon-ok"aria-hidden="true"></span> Submit
            </button>
          </div>
        </div>
        <ul class="list-unstyled">
          <li class="post">
              <span class="post-title">How to start Q2?</span><br>
            <span class="post-text">Hi, I was wondering how I was supposed to start
              question 2</span>
          </li>
        </ul>
      </nav>

      <div class="detail">
        <div class="bottom-spaced">
          <span class="post-detail-title">How to start Q2?</span><br>
        </div>
        <div class="bottom-separated bottom-spaced">
          <p class="post-detail-body">Hi, I was wondering how I was supposed to start question 2</span><br>
        </div>

        <div class="bottom-separated bottom-spaced">
          <div class="bottom-spaced">
            <span class="post-title"> Instructor's Answer </span>
          </div>
          <p class="post-detail-body bottom-spaced"></p>
        </div>

        <div class="bottom-separated bottom-spaced">
          <div class="bottom-spaced">
            <span class="post-title"> Students' Answer </span>
          </div>
          <p class="post-detail-body bottom-spaced"> Wow! What a great question!</p>
        </div>

        <div class="bottom-spaced">
          <span class="post-title"> Followups </span>
        </div>

        <ul class="direct-followups list-unstyled">
          <li>
            <div class="bottom-small-spaced">
              <span class="followup-title">Anonymous</span>
            </div>
            <p class="followup-body bottom-small-spaced bottom-separated">
              Hey, I had a followup.
            </p>
            <ul class="secondary-followups list-unstyled">
              <li class="bottom-separated">
                <div class="bottom-small-spaced">
                  <span class="followup-title">Anonymous</span>
                </div>
                <p class="followup-body bottom-small-spaced">
                  Hey, I had a secondary followup.
                </p>
              </li>
              <li class="bottom-separated">
                <div class="bottom-small-spaced">
                  <span class="followup-title">Anonymous</span>
                </div>
                <p class="followup-body bottom-small-spaced">
                  Hey, I had another secondary followup.
                </p>
              </li>
              <li class="bottom-separated">
                <input type="text" placeholder=" Add a comment..." class="comment-input">
                <input type="submit" class="comment-submit">
              </li>
            </ul>
          </li>

          <li>
            <div class="bottom-small-spaced top-padding">
              <span class="followup-title">Add a followup discussion:</span>
            </div>
            <form class="top-padding bottom-small-spaced">
              <input type="text" placeholder=" Add a followup..." class="comment-input">
              <input type="submit" class="comment-submit">
            </form>
          </li>
        </ul>

      </div>
  </div>

</body>
